html, body {
	background-image: url("../images/background.png");
	background-size: cover;
	height: 100%;
	background-repeat: no-repeat;
}

.page-header {
	background-color: #F0FFFF;
	margin-top: 0;
}

.winBox {
	margin-left: 2px;
	margin-bottom: 1px;
}

.lossBox {
	margin-top: 1px;
}